* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {

    background-color: #7f7f7f;
    /* Cor de fundo do cabeçalho */
    color: white;
    /* Cor do texto no cabeçalho */
    padding: 10px 0;
    /* Espaçamento interno do cabeçalho */
    position: sticky;
    top: 0;
}

nav {
    height: 50px;
    display: flex;
    justify-content: center;

    /* Centraliza os itens horizontalmente */
}

button {
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: black;
    padding: 10px;
    margin: 0 15px;

    /* Espaçamento entre os botões do menu */
}

button a {

    text-decoration: none;
    color: #766ec5;
    /* Cor dos links no cabeçalho */
    font-weight: bold;
    transition: color 0.4s ease;
    /* Transição suave de cor ao passar o mouse */
}

button a:hover {

    color: yellow;
    /* Cor do link ao passar o mouse */
}

.logo-container {

    text-align: center;
    /* Centraliza a imagem */
    margin-top: 0px;
    /* Espaçamento para separar a imagem dos botões */
    transition: margin-top 0.4s ease, transform 0.4s ease;
}

.logo-container img {
    border-radius: 20px;
    width: 120px;
}

.logo-small {

    margin-top: -10px;
    transform: scale(0.5);
}

.user {
    margin-left: 1px;
    width: 50px;
}