/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B");

/*Estilos para o corpo da página*/
body {
    background-color: #404040;
}

/* Estilos para o cabeçalho */
header {
    margin: 0 auto;
    height: 65px;
    width: 1750px;
    background-color: #7f7f7f;
    /* Cor de fundo do cabeçalho */
    color: white;
    /* Cor do texto no cabeçalho */
    padding: 10px 15px;
    /* Espaçamento interno do cabeçalho */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 20px;
    margin-bottom: 60px;
    z-index: 3;
}

nav {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /* Centraliza os itens horizontalmente */
}

button {
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: black;
    padding: 10px;
    margin: 0 15px;

    /* Espaçamento entre os botões do menu */
}

button a {

    text-decoration: none;
    color: #766ec5;
    /* Cor dos links no cabeçalho */
    font-weight: bold;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    /* Transição suave de cor ao passar o mouse */
}

button a:hover {

    color: yellow;
    /* Cor do link ao passar o mouse */
}


.nav_20L {
    margin-left: -20px;
}

.logo-container {
    text-align: center;
    /* Centraliza a imagem */
    margin-top: 0px;
    /* Espaçamento para separar a imagem dos botões */
    -webkit-transition: margin-top 0.4s ease, -webkit-transform 0.4s ease;
    transition: margin-top 0.4s ease, -webkit-transform 0.4s ease;
    -o-transition: margin-top 0.4s ease, transform 0.4s ease;
    transition: margin-top 0.4s ease, transform 0.4s ease;
    transition: margin-top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}

.logo-container img {
    border-radius: 20px;
    width: 120px;

}

.logo-small {

    margin-top: -10px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.user {
    float: left;
    margin-left: 10px;
    width: 50px;
}

.market {
    float: right;
    margin-right: 15px;
    width: 50px;
}

.search-box {
    position: relative;
    top: 15%;
    left: -1%;
    background: black;
    -webkit-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    height: 49px;
    padding: 20px;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-family: 'Open Sans';
}

::-webkit-input-placeholder {
    color: #7f7f7f;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.search-btn img {
    width: 20px;
    height: 20px;
}

.search-box.expanded .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box.expanded .search-btn {
    background: white;
}

.btns-sub {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin: 0 auto;

}

.btns-sub button {
    /*Botões embaixo do cabeçalho*/
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #766ec5;
    margin-bottom: 10px;
}

.imgs {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 90px;
    justify-content: space-between;
}

.imgs img {
    height: 100px;
    width: 220px;
    border-radius: 12px;

}

#img-1 {
    width: 219px;
    height: 100px;
    margin-left: 15px;
}

#img-2 {
    width: 219px;
    height: 100px;
    margin-left: -30px;
}

#img-3 {
    width: 219px;
    background-color: black;
    margin-left: -30px;
}

#img-4 {
    background-color: black;
    margin-left: -30px;
    margin-right: 12px;
}

#img-1,
#img-2,
#img-3,
#img-4 {
    transform: scale(1);
    transition: .3s;
}

#img-1:hover,
#img-2:hover,
#img-3:hover,
#img-4:hover {
    /* Aplica uma transformação de escala para aumentar o tamanho em 1.2 vezes (120%) */
    transform: scale(1.1);
    /* Define uma transição suave para a animação */
    transition: transform 0.3s ease-in-out;
    /* Você pode ajustar a duração (0.3s) e a função de temporização (ease-in-out) conforme necessário */
}

.aside1 {
    position: absolute;
    /* Alterado de "absolute" para "fixed" */
    top: 120px;
    /* Define a distância a partir do topo da janela */
    left: 100px;
    /* Define a posição da esquerda da janela */
    border-radius: 10px;
    color: #766ec5;
    font-size: x-large;
    width: 220px;
    height: 490px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside1 li {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.8rem;
}

.aside1 a {
    text-decoration: none;
}

.aside1 a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: yellow;
}

.aside2 {
    border-radius: 20px;
    margin-right: 20px;
    width: 280px 0;
    height: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    float: right;
}

.aside2 img {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}

#titulo {
    color: white;
}

#flex {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: aliceblue;
}

.blockk {
    display: block;
}

.hqs {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: flex-end;
    /* Alinha na parte inferior verticalmente */
    width: 1000px;
    /* Define a altura para ocupar toda a altura da janela do navegador */
}

/* CSS para as imagens dentro do container */
.hqs img {
    width: 150px;
    height: 250px;
    margin: 0 5px;
    /* Adiciona margem horizontal para espaçamento entre as imagens */
}

.alin {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 360px;
}

.alin img {
    width: 220px;
    height: 300px;
}