* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B");

/*Estilos para o corpo da página*/
body {
    background-color: #404040;
}

/* Estilos para o cabeçalho */
header {
    margin: 0 auto;
    height: 65px;
    width: 1750px;
    background-color: #7f7f7f;
    /* Cor de fundo do cabeçalho */
    color: white;
    /* Cor do texto no cabeçalho */
    padding: 10px 15px;
    /* Espaçamento interno do cabeçalho */
    position: sticky;
    top: 0;
    border-radius: 20px;
    margin-bottom: 60px;
}

nav {
    height: 50px;
    display: flex;
    justify-content: center;

    /* Centraliza os itens horizontalmente */
}

button {
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: black;
    padding: 10px;
    margin: 0 15px;

    /* Espaçamento entre os botões do menu */
}

button a {

    text-decoration: none;
    color: #766ec5;
    /* Cor dos links no cabeçalho */
    font-weight: bold;
    transition: color 0.4s ease;
    /* Transição suave de cor ao passar o mouse */
}

button a:hover {

    color: yellow;
    /* Cor do link ao passar o mouse */
}

.logo-container {

    text-align: center;
    /* Centraliza a imagem */
    margin-top: 0px;
    /* Espaçamento para separar a imagem dos botões */
    transition: margin-top 0.4s ease, transform 0.4s ease;
}

.logo-container img {
    border-radius: 20px;
    width: 120px;

}

.logo-small {

    margin-top: -10px;
    transform: scale(0.5);
}

.user {
    float: left;
    margin-left: 10px;
    width: 50px;
}

.market {
    float: right;
    margin-right: 15px;
    width: 50px;
}

.search-box {
    position: relative;
    top: 15%;
    left: -1%;
    background: black;
    transform: translate(-20%, -20%);
    height: 49px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .2s;
    font-family: 'Open Sans';
}

::-webkit-input-placeholder {
    color: #7f7f7f;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.search-btn img {
    width: 20px;
    height: 20px;
}

.search-box.expanded .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box.expanded .search-btn {
    background: white;
}

.btns-sub {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 9px;
}

.btns-sub button {
    /*Botões embaixo do cabeçalho*/
    display: flex;
    padding: 30px;
    align-items: center;
    color: #766ec5;
}

.btns-imgs {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.btns-imgs button {
    font-size: 20px;
    font: bold;
    color: black;
    background-size: 40px;
    width: 220px;
    padding: 50px;
}