#image-container {
	text-align: center;
}

#main-image {
	max-width: 720px;
	max-height: 550px;
	border-radius: 12px;
}

.thumbnail {
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	max-width: 225px;
	max-height: 100px;
	border-radius: 10px;

}

.container_product {
	display: flex;
	position: relative;
}

.container_thumbs {
	width: 85px;
}

.desc {
	background-color: gold;
	max-width: 350px;
	max-height: 300px;
	overflow: hidden;
	position: relative;
	/* Para posicionamento absoluto do botão */
	border-radius: 20px;
}

.content {
	padding: 10px;
}

button#toggleButton {
	background: black;
	border: none;
	color: blue;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}

.Ma1n {
	display: flex;
	flex-direction: column;
	height: fit-content;
	/* Para ocupar toda a altura da tela */
	align-items: start;
	margin: 0 auto;
}

.richard_1 {
	display: block;
	margin: 0 auto;
	background-color: #808080;
	border-radius: 50px;
	padding: 10px 50px;

}

/* COMPRAR E CARRINHO*/
.product-box {
	background-color: aliceblue;
	padding: 20px;
	text-align: center;
	width: 200px;
	height: fit-content;
}

.product-box h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.product-box p {
	font-size: 14px;
	margin-bottom: 10px;

}

.product-box .buy-button,
.product-box .cart-button {
	background-color: black;
	color: #0056b3;
	border: none;
	padding: 5px 0;
	width: 140px;
	margin: 5px;
	cursor: pointer;
}

.product-box .buy-button:hover,
.product-box .cart-button:hover {
	background-color: #0056b3;
	color: black;
}




/* Estilos do modal */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 30;

}

.modal-content {
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/* Estilos das abas e conteúdo */
.payment-tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.tab {
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;

}

.tab img {
	width: 85px;

}

.tab-content {
	display: flex;
	flex-direction: column-reverse;
}

/* Estilos para a seção de pagamento via Pix */
.price-container {
	text-align: center;
	margin-top: 20px;
}

.big-price {
	font-size: 36px;
	/* Fonte grande para o preço */
	color: blue;
	/* Cor azul */
}

.small-text {
	font-size: 14px;
	/* Fonte menor para o texto abaixo do preço */
	margin: 5px 0;
}

.divider {
	border: none;
	border-top: 4px solid black;
	/* Linha separadora */
	margin: 10px 0;
}

/* Estilos para a tabela de parcelas */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	/* Fonte padrão */
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	/* Tamanho da fonte */
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: #fff;
	/* Células ímpares brancas */
}

tr:nth-child(even) {
	background-color: #f5f5f5;
	/* Células pares cinzas */
}

/* Estilizando a primeira linha (À vista - Até 5% de desconto) */
tr:first-child {
	background-color: #e0e0e0;
	font-weight: bold;
}

tr:hover {
	background-color: #79b6c9;
}


/* Estilos para a aba de Dogecoin */
#crypto-content {
	text-align: center;
	padding: 20px;
	width: 900px;
	/* Largura fixa desejada */
	height: 700px;
	/* Altura fixa desejada */
	margin: 0 auto;
	/* Centralizar horizontalmente */
	overflow-y: auto;
	/* Adicionar barra de rolagem vertical, se necessário */
	background-color: #fff;
	/* Cor de fundo */
	border: 1px solid #ccc;
	/* Borda para destacar a janela */
	border-radius: 5px;
	/* Borda arredondada */
}

h3 {
	font-size: 28px;
	/* Tamanho de fonte maior */
	margin-bottom: 10px;
	color: #0088cc;
	/* Azul claro */
}

h4 {
	font-size: 22px;
	/* Tamanho de fonte maior */
	margin-top: 20px;
	color: #000;
	/* Preto */
}

p {
	font-size: 18px;
	/* Tamanho de fonte maior */
	margin: 10px 0;
}

strong {
	color: #ffcc00;
	/* Amarelo */
}

ol {
	text-align: left;
	margin-left: 20px;
}

img#qr-code {
	max-width: 200px;
	/* Largura máxima para a imagem QR */
	margin: 20px auto;
	/* Centralizar horizontalmente */
}

/* Estilos para o link de e-mail */
a {
	color: #0088cc;
	/* Azul claro */
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	/* Sublinhar o link ao passar o mouse */
}

/* Fonte Trebuchet MS */
body {
	font-family: 'Trebuchet MS', sans-serif;
}

/* Outros estilos e animações podem ser adicionados conforme necessário */