#image-container {
	text-align: center;
}

#main-image {
	max-width: 100%;
	max-height: 550px;
	border-radius: 12px;
}

.thumbnail {
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	max-width: 225px;
	max-height: 100px;
	border-radius: 10px;

}

.container_product {
	display: flex;
	position: relative;
}

.container_thumbs {
	width: 85px;
}

.desc {
	background-color: gold;
	max-width: 350px;
	max-height: 300px;
	overflow: hidden;
	position: relative;
	/* Para posicionamento absoluto do botão */
	border-radius: 20px;
}

.content {
	padding: 10px;
}

button#toggleButton {
	background: black;
	border: none;
	color: blue;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}

.price {}