#image-container {
	text-align: center;
}

#main-image {
	max-width: 720px;
	max-height: 550px;
	border-radius: 12px;
}

.thumbnail {
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	max-width: 225px;
	max-height: 100px;
	border-radius: 10px;

}

.container_product {
	display: flex;
	position: relative;
}

.container_thumbs {
	width: 85px;
}

.desc {
	background-color: gold;
	max-width: 350px;
	max-height: 300px;
	overflow: hidden;
	position: relative;
	/* Para posicionamento absoluto do botão */
	border-radius: 20px;
}

.content {
	padding: 10px;
}

button#toggleButton {
	background: black;
	border: none;
	color: blue;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}

.Ma1n {
	display: flex;
	flex-direction: column;
	height: fit-content;
	/* Para ocupar toda a altura da tela */
	align-items: start;
	margin: 0 auto;
}

.richard_1 {
	display: block;
	margin: 0 auto;
	background-color: #808080;
	border-radius: 50px;
	padding: 10px 50px;

}

/* COMPRAR E CARRINHO*/
.product-box {
	background-color: aliceblue;
	padding: 20px;
	text-align: center;
	width: 200px;
	height: fit-content;
}

.product-box h2 {
	font-size: 18px;
	margin-bottom: 10px;
}

.product-box p {
	font-size: 14px;
	margin-bottom: 10px;

}

.product-box .buy-button,
.product-box .cart-button {
	background-color: black;
	color: #0056b3;
	border: none;
	padding: 5px 0;
	width: 140px;
	margin: 5px;
	cursor: pointer;
}

.product-box .buy-button:hover,
.product-box .cart-button:hover {
	background-color: #0056b3;
	color: black;
}